.header-menu {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; /*used to allow width and height properties*/
}

.header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /*allows us to use top, left, right and bottom properties*/
}

.container {
  display: flex;
  align-items: center;
}

.container-img {
  padding: 1em;
}

.list-menu {
  display: none;
  position: absolute; /*allows us to move the element according to another element with position != static*/
  top: 100%;
  width: 60vw;
}

.container-menu-button:checked ~ .list-menu {
  display: block;
}

.list-menu-title, .list-menu-item {
  padding: 1em;
  background-color: var(--white);

} 

.list-menu-title {
  color: var(--orange);
  font-weight: 700;
}

.list-menu-link {
  background: var(--blue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.container-menu-button {
  display: none;
}

.container-title {
  display: none;
}

.options {
  display: none
}

@media screen and (min-width: 1024px) {

  .container-title, .contanier-bold-title {
    font-family: var(--secondary-font);
    font-size: 30px;
  }

  .container-title {
    font-weight: 400;
    display: block;
  }

  .contanier-bold-title {
    font-weight: 700;
  }

  .options {
    display: flex;
  }

  .options-item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .options-link {
    text-decoration: none;
    color: var(--black);
  }

  .container-img-transparent, .header-menu {
    display: none;
  }

}