.topics {
  background: var(--blue-gradient);
  text-align: center;
  padding: 1em 0;
}

.topics-title {
  color: var(--white);
  font-weight: 300;
  margin-bottom: 1em;
}

.topics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics-item {
  margin: 2em 0.5em;
}

.topics-link {
  color: var(--white);
  background-color: var(--orange);
  text-decoration: none;
  padding: 1em;
  font-size: 14px;
  font-weight: 700;
}
